AmenomaDevDocs/examples/artifacts.genshinart.json
ArtScanner/artifacts.mingyulab.json
ArtScanner/artifacts.dat
ArtScanner/artifacts.dat.index
ArtScanner/artifacts.dat.lock
ArtScanner/artifacts.dat.tmp
**/__pycache__/**
ArtScanner/build/**
ArtScanner/dist/**
ArtScanner/*.spec
ArtScanner/artifacts/**

.vscode/**
/ArtScanner/artifacts/
/ArtScanner/.ipynb_checkpoints/
/model_trainer/.ipynb_checkpoints/
/model_trainer/train/
.idea/**
/AmenomaDevDocs/examples/artifacts.GOOD.json
/ArtScanner/Amenoma.log
/AmenomaDevDocs/examples/materials.GOOD.json
