ArtScanner/artifacts.genshinart.json
ArtScanner/artifacts.mingyulab.json
ArtScanner/artifacts.dat
ArtScanner/artifacts.dat.index
ArtScanner/artifacts.dat.lock
ArtScanner/artifacts.dat.tmp
**/__pycache__/**
ArtScanner/build/**
ArtScanner/dist/**
ArtScanner/*.spec
ArtScanner/artifacts/**

.vscode/**
/ArtScanner/artifacts/
/ArtScanner/.ipynb_checkpoints/
/ArtScanner/Tools/model_trainer/.ipynb_checkpoints/
/ArtScanner/Tools/model_trainer/train/
